{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Hola desde about</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda eos minus nostrum iure qui iusto veritatis alias esse necessitatibus, enim cumque distinctio itaque voluptates officiis, vitae architecto recusandae odit repudiandae.</p>
    </div>
    <div class="col-4">
        <img src="/assets/images/motivacion-personal (3).png" alt="image de frase" class="img-thumbnail">
    </div>
</div>

{{> footer }}